.example-spacer {
  flex: 1 1 auto;
}

.custom-filter-wrapper {
  .viewport-custom-filter {
    display: block;
    min-height: 150px;
    width: 100%;
    overflow: auto;
    .mat-tree-node {
      &[aria-level='2'] {
        padding-left: 15px !important;
      }
      &[aria-level='3'] {
        padding-left: 50px !important;
      }
      &.pld-code[aria-level='2'] {
        padding-left: 35px !important;
      }
    }

    .mdc-icon-button {
      padding: 0;
      margin: 0;
      width: 25px;
      height: 25px;
      background-color: transparent;

      .material-icons.mat-icon {
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        padding: 0;
      }
    }
  }

  .mat-toolbar-row {
    height: auto;
    padding: 0.5rem;
    border-bottom: 1px solid #a0a0a0;
    box-shadow: 0 3px 3px rgba($color: #fafafb, $alpha: 0.5);
    margin: 0 0 0.4rem;
  }

  .advance-filter {
    width: 25px;
    min-height: auto;
    padding: 0;

    .material-icons.mat-icon {
      margin: 0;
    }

    ::ng-deep svg.mat-mdc-menu-submenu-icon {
      display: none;
    }
  }

  .checkbox-container {
    padding: 0 0.5rem;

    .search-button {
      border: none;
      background-color: transparent;
    }
  }

  .checkbox-list-wrapper {
    max-height: 200px;
    overflow-y: auto;
  }

  .button-wrapper {
    padding: 0.7rem 0.5rem;
    background-color: #fff;
  }

  .reset-btn {
    padding: 5px 20px;
    border: 1px solid #243782;
    border-radius: 3px;
    background-color: transparent;
    color: #243782;
  }

  .btn-stellantis {
    padding: 5px 20px;
    border-radius: 3px;
  }
}

.advance-filter {
  padding: 1rem 0 0;

  ::ng-deep .form-control {
    padding: 0 0.5rem;
    border: none;
    border-radius: 0;
    box-shadow: none;

    .date-filter-field {
      .mat-datepicker-toggle {
        position: absolute;
        bottom: 0;
        right: -15px;
      }
    }
  }

  .search-button {
    border: none;
    box-shadow: none;
    position: absolute;
    top: 55%;
    right: -10px;
    transform: translateY(-50%);
    background-color: transparent;
  }

  .operator-type {
    padding: 0 0 0.5rem;

    ::ng-deep .mdc-form-field > label {
      padding-left: 0;
    }
  }
}
